input[type="tel"],
input[type="text"] {
  all: unset;
}

input[type="tel"],
input[type="text"] {
  display: inline-block;
  height: 40px;
  min-width: 30px;
  max-width: 90vw;
  margin: var(--margin-between);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: var(--border-radius);
  border: 1.6px solid var(--darkish);
  box-sizing: border-box;
  box-shadow: 0px 3px 2px var(--box-shadow);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

input[type="tel"]:focus,
input[type="text"]:focus {
  box-shadow: 0px 6px 5px var(--box-shadow);
}

label > input[type="tel"],
label > input[type="text"] {
  display: flex;
  flex-direction: column;
}

label {
  margin: var(--margin-between);
}
