/* .city {
  background: url("oras.jpg") center no-repeat;
  background-size: cover;
} */

/* .city {
  background: linear-gradient(
      180deg,
      rgba(131, 151, 136, 0.6) 0%,
      rgba(11, 9, 9, 0.6) 100%
    ),
    rgba(81, 73, 103, 0.4);
} */
