.filters {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
}


.filters-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem; 
}


@media only screen and (max-width: 640px) {
    .filters-inputs {
      grid-template-columns: 1fr;
    }
  }


main {
    display: grid;
    grid-template-columns: 1fr;
}