.fluid {
  width: 100% !important;
}

.fluid-over-grid {
  grid-column: 1/-1;
}

.tip {
  font-size: 12px;
  color: var(--darkish);
}

.bold {
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mtop {
  margin-top: 1rem;
}

.btm-right {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}

.none {
  display: none;
}

.block {
  display: inline-block;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 25px;
  background-color: var(--darkish);
  color: white;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.underlined {
  text-decoration: underline;
}
