.fluid {
  width: 100% !important;
}

.tip {
  font-size: 12px;
  color: var(--darkish);
}

.bold {
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mtop {
  margin-top: 1rem;
}

.btm-right {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}
