.fluid {
  width: 100vw !important;
}

.tip {
  font-size: 12px;
  color: var(--darkish);
}

.bold {
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mtop {
  margin-top: 1rem;
}